spring:
  cloud:
    gcp:
      project-id: silent-card
#      credentials:
#        location: file:/home/hossein/Documents/silent-card-a1a5068bdf05.json
      sql:
        instance-connection-name: silent-card:europe-west1:takeaway-db
        database-name: takeawayDB
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  datasource:
    username: takeaway
    password: -hM9/WW[GKpT;9DX
  jpa:
    database: POSTGRESQL
    show-sql: true
    generate-ddl: true
    properties:
      hibernate:
        enable_lazy_load_no_trans: true
  application:
    name: takeaway
    attachmentsPath: C:\Users\diego\takeaway_attachments\
    profilePictureSize: 100
    profilePictureMaxSize: 1000
    passwordHashSalt: May we all be one day free!
    maxUploadFileSizeInBytes: 26214400
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: 1074261486455-1sbnuiulgt7a46sbkc0ig22th62bcv9h.apps.googleusercontent.com
            clientSecret: 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
server:
  port: 8080