spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/takeawayDB
    username: postgres
    password: postgres
  jpa:
    database: POSTGRESQL
    show-sql: true
    generate-ddl: true
    properties:
      hibernate:
        enable_lazy_load_no_trans: true
  application:
    name: takeaway
    attachmentsPath: ~/takeaway_attachments/
    profilePictureSize: 100
    profilePictureMaxSize: 1000
    passwordHashSalt: May we all be one day free!
    maxUploadFileSizeInBytes: 26214400
server:
  port: 2102
